[ghq]
  root = ~/go/src
[user]
  name = Yuki Nozaki
  email = yuki_nozaki@voyagegroup.com
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim -c \"set fenc=utf-8\"
  pager = less -r
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[commit]
  #template = ~/.stCommitMsg
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  co = checkout

[url "https://"]
  insteadOf = git://

[core]
  excludesfile = ~/.gitignore_global
	pager = LESSCHARSET=utf-8 less
	quotepath = false
[gc]
  auto = 0

[http]
	cookiefile = /Users/y-nozaki/.gitcookies
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
